{{ partial "header.html" . }}

<section id="step">
    <div class="steps-nav">
        <h1 id="title">{{ .Title }} / {{ len (where .Site.RegularPages "Section" "==" "steps") }}</h1>
        {{if .PrevInSection}}
            <a class="btn btn-small btn-nav round" href="{{ .PrevInSection.Permalink }}">Next</a>
        {{end}}
        {{if .NextInSection}}
            <a class="btn btn-small btn-nav round" href="{{ .NextInSection.Permalink }}">Prev</a>
        {{end}}
    </div>
    <div>
        <div id="content">
            {{ .Content }}
        </div>
    </div>
</section>

{{ partial "footer.html" . }}