/* 
https://coolors.co/2c363f-5aa5e8-ebf0f4-d2d7db-a3b6c6

B43F4E
D92467
EBE6BD
12A698
202427



*/
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1#title, 
.docs h2 {
    margin-top: 0px;
}

p {
    font-size: 12pt;
    margin: 0;
}

.underline:hover {
    text-decoration: underline;
}

.cursive {
    font-family: 'Montserrat', sans-serif;
}

.center {
    text-align: center;
}

.hljs {
    border-radius: 2pt;
    padding: 0.9em !important;
}

.round {
    border-radius: 3pt;
}

.centered-small {
    width: 80%;
    margin: auto;
    padding: 2em;
    text-align: center;
}

@media(min-width: 512px) {
    .centered-small {
        width: 30%;
    }
}

.site {
    width: 96%;
    min-height: 100vh;
    margin: auto;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.1), -12px 0 8px -4px rgba(0, 0, 0, 0.1);
}

.container {
    padding: 10pt 10pt 20pt 10pt;
    height: 83.5vh;
}

@media(min-width: 512px) {
    .site {
        width: 85%;
    }
    .container {
        padding: 20pt 20pt 40pt 20pt;
        height: 83.5vh;
    }
}

.navbar {
    padding: 10pt;
    font-family: 'Montserrat', sans-serif;
}

@media(min-width: 512px) {
    .navbar {
        padding: 20pt;
    }
}

.navbar ul {
    list-style-type: none;
    /* width: 18%; */
    margin: auto;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 10pt;
}

.navbar ul li a {
    text-decoration: none;
    padding: 5pt;
}

.btn {
    display: block;
    width: 120pt;
    height: 18pt;
    margin: auto;
    text-align: center;
    padding: 10pt;  
    text-decoration: none; 
}

.btn:hover {
    cursor: pointer;
}

.logo {
    width: 80%;
    margin: auto;
    display: block;
}

@media(min-width: 512px) {
    .logo {
        width: 30%;
    }
}

.steps-nav {
    height: 35pt;
    padding: 0 0 0 0;
}

@media(min-width: 800px) {
    .steps-nav {
        width: 96%;
        height: 35pt;
        padding: 0 1em 0 0;
    }
}

.steps-nav .buttons {
    float: right;
    margin-left: 5pt;
}

.steps-nav .buttons a {
    float: left;
    margin-left: 5px;
}

.slick-disabled {
    opacity: 0.2;
}

.slick-track {
    margin: 0;
}

@media(min-width: 400px) {
    .slick-track {
        margin: 0 auto;
    }
}

.steps-nav h1 {
    float: left;
}

.btn-small {
    display: block;
    width: 40pt;
    padding: 5pt;
    text-align: center;
    text-decoration: none; 
}

@media(min-width: 400px) {
    .btn-small {
        width: 60pt;
    }
}

.btn-control {
    margin: 0;
}

#content {
    margin-top: 10px;
}

.code {
    width: 100%;
    margin-right: 0%;
    float: left;
}

.docs {
    width: 100%;
    margin-top: 2em;
    padding: 0 1em 1em 0;
    float: left;
}

.docs p {
    margin: 1em 0 1em 0;
}

@media(min-width: 800px) {
    .code {
        width: 60%;
        margin-right: 40%;
    }
    .docs {
        width: 60%;
    }
}

@media(min-width: 1024px) {
    .code {
        width: 48%;
        margin-right: 2%;
    }
    .docs {
        width: 46%;
        margin: 0;
    }
}



.editor { 
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100pt;
    max-height: 200pt;
    padding-top: 1em;
}

#compilation {
    width: 95%;
}

.stage {
    margin-top: 1em;
}

.output {
    padding: 1em;
    font-size: 10pt;
    opacity: 0.7;
}