body {
    background-color: #efefef;
}

.container {
    background-color: #fcfcfc;
}

.navbar {
    background-color: #2980b9;
}

.navbar ul li a {
    color: white;
}

.btn {
    background-color: #ff7e1c;
    color: white;
}

.btn-small {
    background-color: #ff7e1c;
}

.btn-nav {
    background-color: #2980b9;
}

.success {
    background-color: #e4ffcb;
}

.error {
    background-color: #fd2c29;
}

.output {
    color: black;
}