<div class="code">
    <div id="editor" class="round">{{ .Inner }}</div>

    <div id="compilation" class="stage"></div>
      
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="../../js/bundle.js"></script>
</div>

<script src="../../js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/tomorrow_night_eighties");
    editor.session.setMode("ace/mode/javascript");
    editor.renderer.setScrollMargin(10, 10)
    editor.getSession().setUseWorker(false);
</script>