<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="{{.Site.BaseURL }}img/favicon.png"/>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto|Source+Code+Pro|Montserrat|Exo|Open+Sans|Lato" rel="stylesheet"> 

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="../../css/styles.css">

    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/tomorrow-night-eighties.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script type="text/javascript" src="https://ethereum.github.io/solc-bin/bin/list.js"></script>
    <script type="text/javascript" src="https://ethereum.github.io/solc-bin/bin/soljson-v0.4.25+commit.59dbf8f1.js"></script>

    <title>Solidity Tour</title>
  </head>
  <body>
      <div class="navbar">
        <ul>
          <li><a class="btn-outline underline" href="/solidity-tour">Start</a></li>
          <li><a class="btn-outline underline" target="_blank" href="https://solidity.readthedocs.io/en/develop/index.html">Documentation</a></li>
          <li><a class="btn-outline underline" target="_blank" href="https://gitter.im/ethereum/solidity">Gitter</a></li>
          <li><a class="btn-outline underline" target="_blank" href="https://github.com/bit-shift/solidity-tour/">Contribute</a></li>
        </ul>
      </div>
      <div class="container">