<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="{{.Site.BaseURL }}img/favicon.png"/>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto|Source+Code+Pro|Montserrat|Exo|Open+Sans|Lato" rel="stylesheet"> 

    <!-- Themes -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/theme-color.css">
    
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/theme-color.css">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/tomorrow-night-eighties.min.css">

    <!-- Slick -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <title>Solidity Tour</title>
  </head>
  <body>
    <div class="site">
      <div class="navbar">
        <ul>
          <li><a class="btn-outline underline" href="/solidity-tour">Start</a></li>
          <li><a class="btn-outline underline" target="_blank" href="https://solidity.readthedocs.io/en/develop/index.html">Documentation</a></li>
          <li><a class="btn-outline underline" target="_blank" href="https://gitter.im/ethereum/solidity">Gitter</a></li>
          <li><a class="btn-outline underline" target="_blank" href="https://github.com/bit-shift/solidity-tour/">Contribute</a></li>
        </ul>
      </div>
      <div class="container">